:root{
  --fiddo-blue:#0A4D8C; --fiddo-orange:#FF7A00; --fiddo-teal:#00BFA6;
  --fiddo-blue-600:#083F74; --fiddo-blue-200:#7FB0D6;
  --fiddo-orange-600:#CC6300; --fiddo-orange-200:#FFC08A;
  --fiddo-teal-600:#009985; --fiddo-teal-200:#9CE9DE;
}
